:root {
  --primary-color: #ec5700;
  --secondary-color: #3a3f38;
  --background-color: #ffe3e3;
  --header-font-family: "Monoton", cursive;
  --default-font-family: "Comfortaa", cursive;
}
body {
  font-family: var(--default-font-family);
  text-align: center;
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: #ffe3e3bb;
  margin-bottom: 40px;
}

h1 {
  font-size: 64px;
  font-family: var(--header-font-family);
  color: var(--primary-color);
}
nav,
footer a {
  padding: 5px;
}
nav li {
  display: inline;
  list-style: none;
  padding: 5px;
}
nav a,
h5 a,
footer a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 120ms ease-in-out;
}
nav a:hover,
nav li.active,
h5 a:hover,
footer a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
.arch {
  padding: 50px 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 800px 800px 40px 40px;
  box-shadow: 30px 30px var(--secondary-color);
  background-color: var(--background-color);
}
.primary {
  background-color: var(--primary-color);
  border: none;
}
.secondary {
  background-color: var(--secondary-color);
  border: none;
}
.project-image {
  padding: 20px 0 0 0;
  border-radius: 40px;
}
.about-image {
  padding: 30px 30px;
  border-radius: 40px;
}
.projects {
  padding: 0 20px 0 20px;
}
.footer-text {
  font-size: 14px;
}
.github-link {
  padding: 0;
}

@media (max-width: 800px) {
  body {
    margin: 10px 20px 50px 20px;
    border-radius: 300px 300px 20px 20px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 28px;
  }
  nav a {
    font-size: 14px;
  }
  .projects {
    padding: 0;
    text-align: center;
  }
}
